<div class="starter-home" cdsGrid>
	<h1 class="title">Zimbabwe Stock Exchange</h1>
	<div class="body-text" cdsRow>
		<div cdsCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<h2 class="builder-heading">Data Services </h2>
			<p>
				Offering Zimbabwean Capital Markets Data, focusing on real time data and historical data from the ZSE's
				transactions.
			</p>
		</div>
		<div cdsCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<ul ibmList class="list">
				<li cdsListItem>Price Sheet</li>
				<li cdsListItem>Market Commentary</li>
				<li cdsListItem>Market Fluctuation</li>
				<li cdsListItem>Indices</li>
				<li cdsListItem>Trading Reports</li>
			</ul>
		</div>
	</div>
	<div class="theme-picker" [hidden]="true">
		<p class="subtitle">To change the theme, select from the radio items below:</p>
		<cds-radio-group legend="Theme selector:" ariaLabel="radiogroup" (change)="onThemeChange($event)">
			<cds-radio value="white" [checked]="true">White</cds-radio>
			<cds-radio value="g10">Grey 10</cds-radio>
			<cds-radio value="g90">Grey 90</cds-radio>
			<cds-radio value="g100">Grey 100</cds-radio>
		</cds-radio-group>
	</div>

	<cds-tabs [isNavigation]="true">
		<cds-tab heading="About The Services">
			<div ibmRow>
				<div ibmCol [columnNumbers]="{'lg': 8, 'md': 12, 'sm': 12}">
					<p class="starter-tab-description">
						Our services allow you to access the Zimbabwean Capital Markets Data, focusing on real time data
						and historical data from the ZSE's transactions.
					</p>
					<p class="builder-heading">Benefits</p>
					<ul cdsList class="builder-points">
						<li cdsListItem>Real time data</li>
						<li cdsListItem>Historical data</li>
						<li cdsListItem>Easy to use</li>
						<li cdsListItem>Easy to integrate</li>
					</ul>
					<button cdsButton size="2xl" routerLink="register">
						Register Today
						<svg class="cds--btn__icon" cdsIcon="carbon--ui-builder"></svg>
					</button>
				</div>
				<div ibmCol [columnNumbers]="{'lg': 8, 'md': 8, 'sm': 12}">

					<img style="height: 296px; width: 368px;" src="/assets/images/chart-2.png" alt="builder"
						class="builder-image" />
				</div>
			</div>

			<p class="subtitle">Other useful resources</p><br>
			<div cdsRow>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://github.com/IBM/carbon-ui-builder"
						target="_blank">Repository</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://builder.carbondesignsystem.com/"
						target="_blank">Application</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://github.com/IBM/carbon-ui-builder/discussions"
						target="_blank">Discussion</cds-clickable-tile>
				</div>
				<div cdsCol [columnNumbers]="{'md': 2, 'sm': 12}">
					<cds-clickable-tile href="https://github.com/IBM/carbon-ui-builder/issues/new/choose"
						target="_blank">Report an issue</cds-clickable-tile>
				</div>

			</div>
		</cds-tab>



	</cds-tabs>
</div>